.home{
    .features{
        background-color: #f1fdf7;
        display: flex;
        justify-content: center;
        padding: 100px 0px;

        &.dark {
            background-color: #0d084d;
            
           h1{
            color: white;
           }
           p{
            color: white;
            margin-bottom: 20px;
           }

           .title{
            color: white;
            font-weight: 300;
            font-size: 14px;
           }

           img{
            width: 110%;
            a
           }
        }

        .container{
          width: 1400px;
          display: flex;
          align-items: center;
          gap: 200px;

            .item{
                display: flex;
                flex-direction: column;
                gap: 15px;
                &:first-child {
                    font: 2;
                }

                &:last-child {
                    flex: 3;

                }
                h1{
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 18px;
                    font-weight: 300;
                    color: rgb(83, 87, 87);
                    line-height: 28px;
                    letter-spacing: 1px;
                }
                .title{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: 500;
                    font-size: 18px;
                    color: gray;

                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
                video{
                    width: 720px;
                    
                }
            }
        }
    }
}