.home{
    .features{
        background-color: #f1fdf7;
        display: flex;
        justify-content: center;
        padding: 100px 0px;

        .container
        .item{
            h1{}
            p{}
            .title{}
            video{
                width: 720px;

            }
        }
    }
}