.home{
    .features{
        background-color: #f1fdf7;
        display: flex;
        justify-content: center;
        padding: 100px 0px;

        .container{
          width: 1400px;
          display: flex;
          align-items: center;
          gap: 200px;

            .item{
                display: flex;
                flex-direction: column;
                gap: 15px;
                &:first-child {
                    font: 2;
                }

                &:last-child {
                    flex: 3;

                }
                h1{
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 18px;
                    font-weight: 300;
                    color: rgb(83, 87, 87);
                    ln
                }
                .title{}
                video{
                    width: 720px;
                    
                }
            }
        }
    }
}