.featured{
    height: 412px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

  .container{
  width: 1300px;
  display: flex;
  align-items: center;
  

  .left{
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1{
      font-size: 50px;
    }

    .search{
      .searchInput{

      }

      button{}
    }

    .popular{
      span{}
      button{}
    }
  }
  .right{

  }
  }
}