.featured{
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

  .container{
  width: 1400px;
  display: flex;
  align-items: center;
  img{
    h50
  }
  }
}