.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;
    .container{
    width: 1000px;
    display: flex;
    align-items: center;
    }
}