.featured{
    height: 490px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

  .container{
  width: 1200px;
  display: flex;
  align-items: center;
 
  }
}