.slide{
    display: flex;
    justify-content: center;
    padding: 100px 0px; 
    .container{
        width: 1400px;

        .carousel-prev,.carousel-next{
            width: 50px;
            height: 50px;
            background-color: lightgray;
        }
    }
}