.slide{
    display: flex;
    justify-content: center;
    padding: 90px 0px; 
    .container{
        width: 1200px;

        .carousel-prev,.carousel-next{
            width: 50px;
            height: 50px;
            background-color: rgb(66, 62, 62);
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}