.trustedBy{
    background-color: #fafafa;
    height: px;
    display: flex;
    justify-content: center;
    .container{
   width: 760px;
   display: flex;
   align-items: center;
   gap: 20px;
   color: lightgray;
   font-weight: 500;
    }
}