.trustedBy{
    background-color: #fafafa;
    height: 65px;
    display: flex;
    justify-content: center;
    .container{
   width: 760px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   color: rgb(181, 20, 20);
   font-weight: 500;

   img{
    height: 50px;
    object-fit: contain;
   }
    }
}