.gigCard{
    width: 324px;
    height: 370px;
    border: 1px solid lightgray;
    margin-bottom: 25px;

    img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .info{
       padding: 10px 20px;
       
    }

    .details{

    }
}