.navbar {
    display: flex;
    justify-content: center;

    .container {
        width: 1200px;
        // background-color: lawngreen;
        display: flex;
        justify-content: space-between;
        
        .logo{
            .text{}
            .dot{}
        }
        .links{
            span{}
        }
    }
}