.navbar {
    display: flex;
    justify-content: center;

    .container {
        width: 900px;

        .logo{
            .text{}
            .dot{}
        }
        .links{
            span{}
        }
    }
}