.navbar {
    display: flex;
    justify-content: center;

    .container {
        width: 1200px;
        // background-color: lawngreen;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{}
            .dot{
                color: #1dbf73;
            }
        }
        .links{
            display: flex;
            gap: ;
            span{}
        }
    }
}