.navbar {
    display: flex;
    justify-content: center;

    .container {
        width: 1400px;
        background-color: lawngreen;
        .logo{
            .text{}
            .dot{}
        }
        .links{
            span{}
        }
    }
}