.navbar{
    display: flex;
    justify-content: center;
    .container{
        width: 1400px;
         display: flex;
         justify-content: ;
        .logo{
            .text{}
            .dot{}
    }
    .links{
        .span{}
    }
    }
}