.navbar {
    display: flex;
    justify-content: center;
    background-color: #0;
    .container {
        width: 1200px;
        // background-color: lawngreen;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{}
            .dot{
                color: #1dbf73;
            }
        }
        .links{
            display: flex;
            align-items: center;
            font-weight: 500;        
            gap: 24px;
            button{
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid white;
            cursor: pointer;
            background-color: transparent;
            }
        }
    }
}