.navbar {
    display: flex;
    justify-content: center;

    .container {
        width: 800px;
        background-color: l;
        .logo{
            .text{}
            .dot{}
        }
        .links{
            span{}
        }
    }
}