.navbar{
    display: flex;
    justify-content: center;
    .container{
        width: 1400px;
        background-color: lawn;
        .logo{
            .text{}
            .dot{}
    }
    .links{
        .span{}
    }
    }
}