.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013914;
    color: white;
    .container {
        width: 1200px;
        // background-color: lawngreen;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{}
            .dot{
                color: #1dbf73;
            }
        }
        
        .links{
            display: flex;
            align-items: center;
            font-weight: 500;        
            gap: 24px;
            font-weight: "Montserrat", sans-serif;
            button{
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid white;
            cursor: pointer;
            background-color: transparent;
            
            &:hover{
               background-color: #1dbf73;
               border-color: #1dbf73;
            }
            }
        }
    }
         .menu{
            width: 1200px;
            padding: 10px 0px;
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            font-family: "Montserrat", ;
         }
}