.navbar{
    display: flex;
    justify-content: center;
    .container{
        width: 1200px;
         display: flex;
         justify-content: space-between;
         padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{

            }
            .dot{
                color: #1dbf73;
            }
    }
    .links{
        display: flex;
        align-items: center;
        gap: 24px;
       font-weight: 500;
        button {
        color: white;
        padding: 10px 20px;
        bo1
        }
    }
    }
}