.gigs {
    display: flex;
    justify-content: center;
    .container{
        width: 1400px;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .breadcrumbs{
            font-weight: 300;
            font-size: 13px;
            color: ;
        }
    }
}