.footer{
    display: flex;
    justify-content: center;
    color: #999;
    margin: 50px 0px;

    img{
        width: 24px;
        height: 24px;

    }
    .container{
        width: 1400px;
        
        .top{}
        .bottom{
            .left{}
            .right{}
        }
    }
}